@model City

@if (!String.IsNullOrEmpty(Model.CityName))
{
    <div class="row bg-light text-bg-light p-1">
        <div class="col">
            <h5>@Model.CityName</h5>
        </div>
        <div class="col">
            @if(Model.Country != null)
            {
                <p>@Model.Country.CountryName</p>
            }
            else
            {
                <p class="fst-italic">N/A</p>
            }
        </div>
        <div class="col-3">
            <a type="submit" class="btn btn-success btn-sm" asp-controller="City" asp-action="ViewCitizens" asp-route-id=@Model.CityId>View citizens</a>
            <a type="submit" class="btn btn-danger btn-sm" asp-controller="City" asp-action="DeleteCity" asp-route-id=@Model.CityId>Delete City</a>
        </div>
    </div>
}


