@model Person

@if(Model != null)
{
    <div class="row bg-light text-bg-light p-1">
        <div class="col">
            <h5>@Model.Name</h5>
        </div>
        <div class="col">
            <p>@Model.PhoneNumber</p>
        </div>
        <div class="col">
            <p>@Model.City.CityName</p>
        </div>
        <div class="col">
            <a type="submit" class="btn btn-danger btn-sm" asp-controller="People" asp-action="DeletePerson" asp-route-id=@Model.Id>Delete Person</a>
        </div>
     </div>  
}

else
{
    @ViewBag.SearchResult
}





