@model Person

@if(Model != null)
{
    <div class="row bg-light text-bg-light p-1">
        <div class="col">
            <h5>@Model.Name</h5>
        </div>
        <div class="col">
            <p>@Model.PhoneNumber</p>
        </div>
        <div class="col">
            <p>@Model.City</p>
        </div>
        <div class="col">
            <button class="btn btn-danger btn-sm" type="submit" onclick="DeletePerson()">Delete Person</button>
        </div>
     </div>  
}

else
{
    @ViewBag.SearchResult
}





