
.main-content {
    background-color: darkslategray;
    color: floralwhite;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}


.footer {
    display: block;
    bottom: 0;
    left: 80px;
    width: 100%;
    height: 40px;
    position:absolute;
}


.tab {
    display: inline-block;
    margin-left: 10px;
}

.icon {
    color: rgb(0, 255, 144);
   
}

.link{
    text-decoration: none;
    color: rgb(0, 255, 144);
    font-style: italic;
}


.add-new .form-row, .validation {
    display: flex;
    
}

.add-new label {
    min-width: 200px;
}

.add-new-input {
    height: 35px;
    width: 250px;
}

.add-languages{
    width: 250px;
    max-height: 100px;
}

.row{
    border: 1px solid black;
}

.list-button {
    margin-top: 1px;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .col{
        padding: 0;
    }
    .row h4{
        font-size : 18px;
    }

    .row h5{
        font-size : 18px;
    }

    .row li, p{
        font-size: 14px;
    }
}
