.main-content{
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    color: floralwhite;
 
}


.tab {
    display: inline-block;
    margin-left: 10px;
}

.icon {
    color: rgb(0, 255, 144);
   
}

.link{
    text-decoration: none;
    color: rgb(0, 255, 144);
    font-style: italic;
}


#people .form {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
}

