
body {
    min-width: 100%;
    min-height: 100%;
    background-color: darkslategray;
    color: floralwhite;
    display: block;
}

 

footer{
    position: relative;
    display: block;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}


.tab {
    display: inline-block;
    margin-left: 10px;
}

.icon {
    color: rgb(0, 255, 144);
   
}

.link{
    text-decoration: none;
    color: rgb(0, 255, 144);
    font-style: italic;
}


.people .form-row {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
}


