@{
    ViewData["Title"] = "Contact";
}

<h1>Contact me</h1>
<h3>
    Email me at: <a class="link" href="mailto:caroline@wallback.se">caroline@wallback.se</a><br/>
    or visit my <a class="link" href="https://www.linkedin.com/in/caroline-wallback/">LinkedIn</a>
    
</h3>

