@{
    ViewData["Title"] = "Projects";
}

<h1>My work</h1>
<h3>Want to know more about my work?</h3>

<ul class="list-unstyled">
    <li><a class="link" href="https://carolinewallback.netlify.app/"><h5>My Portfolio Website</h5></a></li>
    <li><a class="link" href="https://github.com/CarolineWallback"><h5>My Github</h5></a></li>
</ul>

